/* Container */
.container {
  padding: 56% 143% 20% ;
  color: #000000;
  min-height: 100vh;
  width: 300%;
}


.side{
  white-space: nowrap;
  color: #0f766e;
  margin-bottom: 16%;
  margin-top: -25%;
  margin-left: 105%;
}
/* Title */
.title {
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  font-weight: bolder;
  font-size: 130%;
  color: #0f766e;
  margin-left: 41%;
  margin-bottom: 3%;
  text-transform: uppercase;
}

.table-scroll-container {
  width: 151%;
  max-height: 25rem;  
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(101, 90, 90, 0.2);
}


/* Table */
.blacky {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 30px;
}


.blacky thead {
  white-space: nowrap;
  background-color: #0f766e;
  border-bottom: 5px solid #e2e8f0 ;
  color: #ffffff;
}

.blacky thead th:last-child {
  border-top-right-radius: 20px;
}

.blacky th,
.blacky td {
  padding: 1.5% 6%;
  margin:auto;
  text-align: center;
  border-bottom: 3px solid #e2e8f0;
  font-size: 95%;

}


.blacky tbody tr:hover {
  background-color: #f1f5f9;
}


.gap {
  white-space: nowrap;
}


.gun {
   background-color: #28a745;
  color: white;
  border: none;
  padding: 5% 6%;
  font-weight: bold;
  border-radius: 6px;
  margin-right: 4%;
  cursor: pointer;
}

.gun:hover {
  background-color: #15803d;
}


.bun {
  background-color: #dc2626;
  color: white;
  padding: 5% 6%;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.bun:hover {
  background-color: #b91c1c;
}

.logo{
  height: 0%;
  max-width: 30%;
  margin-left: -13%;
  margin-top: -18%;
  margin-bottom: 10%;
}

