/* Container */
.container {
  padding: 60% 143% 20% ;
  color: #000000;
  min-height: 100vh;
  width: 300%;
}


.side{
  white-space: nowrap;
  color: #0f766e;
  margin-bottom: 19%;
  margin-top: -25%;
  margin-left: 105%;
}
/* Title */
.title {
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  font-weight: bolder;
  font-size: 130%;
  color: #0f766e;
  margin-left: 40%;
  margin-bottom: 5%;
  text-transform: uppercase;
}

.table-scroll-container {
  width: 151%;
  max-height: 400px;  
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(128, 114, 114, 0.2);
}


/* Table */
.blacky {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  table-layout:300px;
  border-radius: 30px;
}


.blacky thead {
  white-space: nowrap;
  background-color: #0f766e;
  border-bottom:5px solid #e2e8f0 ;
  color: #ffffff;
}

.blacky thead th:last-child {
  border-top-right-radius: 20px;
}

.blacky th,
.blacky td {
  padding: 14px 20px;
  text-align: center;
  border-bottom: 3px solid #e2e8f0;
  font-size: 15px;

}


.blacky tbody tr:hover {
  background-color: #f1f5f9;
}


.gap {
  white-space: nowrap;
}


.gun {
   background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 6px;
  margin-right: 4%;
  cursor: pointer;
}

.gun:hover {
  background-color: #15803d;
}


.bun {
  background-color: #dc2626;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.bun:hover {
  background-color: #b91c1c;
}

.logo{
  margin-left: -8%;
  margin-top: -20%;
  margin-bottom: 10%;
}
